<style>
    .separar {
        padding: 10px;
    }

    .panel-heading {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
    }

    .btn {
        float: right;
    }
</style>


<div class="panel panel-primary" style="width:70%; margin:auto">
    <br><br>
    <div class="panel-heading">Consulta de Estudiantes</div>
    <br>
    <div class="panel-body">


        <div class="row separar">
          
            <div class="col-sm-2">
                <label class="estilo">Asignatura: </label>
            </div>
            <div class="col-sm-10">
                <select class="form-control" (change)="getEstudiantes()" id="referencia1" name="referencia">
                    <option selected="selected">
                        Seleccione...
                    </option>
                    <option *ngFor="let g of grupos" [value]="g.grupoId">{{g.asignatura.nombre}} Grupo {{g.numero}}</option>
                </select>
            </div>
        </div>
<br><br>
        <div class="col-lg-12">

            <table style="text-align: center;" class="table table-bordered">
                <thead class="thead-striped">
                    <tr>
                        <th scope="col">Identificacion</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Correo</th>

                    </tr>
                </thead>
                <tr *ngFor="let e of estudiantes">
                    <td>{{e.identificacion}}</td>
                    <td>{{e.primerNombre}} {{e.segundoNombre}}</td>
                    <td>{{e.primerApellido}} {{e.segundoApellido}}</td>
                    <td>{{e.correo}}</td>

                </tr>

            </table>

        </div>





    </div>
</div>