<style>
        .separar {
            padding: 10px;
        }
    
        .panel-heading {
            text-align: center;
            font-size: 18px;
            font-weight: bold;
        }
    
        .btn {
            float: right;
        }
    </style>

<div class="panel panel-primary" style="width:50%; margin:auto">
    <br><br>
    <div class="panel-heading">Registro de Docentes</div>
    <br>

    <div class="row separar">
            <div class="col-sm-2">
                <label>Programa: </label>
            </div>
            <div class="col-sm-10">
                <select class="form-control" (change)="mostrar()" id="referencia" name="referencia">
                    <option selected="selected">
                        Seleccione...
                    </option>
                    <option *ngFor="let p of programas" [value]="p.programaId">{{p.nombrePro}}</option>
                </select>
            </div>
        </div>

    <div class="panel-body">
        <div class="row separar">
            <div class="col-sm-2">
                <label>Identificacion: </label>
            </div>
            <div class="col-sm-10">
                <input [(ngModel)]="docente.identificacion" class="form-control" placeholder="Digite identificacion"
                    type="text" required class="form-control">
            </div>
        </div>

        <div class="row separar">
            <div class="col-sm-2">
                <label>Primer Nombre: </label>
            </div>
            <div class="col-sm-10">
                <input [(ngModel)]="docente.primerNombre" class="form-control" placeholder="Digite primer nombre"
                    type="text" required class="form-control">
            </div>
        </div>


        <div class="row separar">
            <div class="col-sm-2">
                <label>Segundo Nombre: </label>
            </div>
            <div class="col-sm-10">
                <input [(ngModel)]="docente.segundoNombre" class="form-control" placeholder="Digite segundo nombre"
                    type="text" required class="form-control">
            </div>
        </div>

        <div class="row separar">
            <div class="col-sm-2">
                <label>Primer Apellido: </label>
            </div>
            <div class="col-sm-10">
                <input [(ngModel)]="docente.primerApellido" class="form-control" placeholder="Digite primer Apellido"
                    type="text" required class="form-control">
            </div>
        </div>


        <div class="row separar">
            <div class="col-sm-2">
                <label>Segundo Apellido: </label>
            </div>
            <div class="col-sm-10">
                <input [(ngModel)]="docente.segundoApellido" class="form-control" placeholder="Digite segundo Apellido"
                    type="text" required class="form-control">
            </div>
        </div>

        <div class="row separar">
            <div class="col-sm-2">
                <label>Correo: </label>
            </div>
            <div class="col-sm-10">
                <input [(ngModel)]="docente.correo" class="form-control" placeholder="Digite correo" type="text"
                    required class="form-control">
            </div>
        </div>

        <div class="row separar">
            <div class="col-sm-2">
                <label>Telefono: </label>
            </div>
            <div class="col-sm-10">
                <input [(ngModel)]="docente.telefono" class="form-control" placeholder="Digite telefono" type="text"
                    required class="form-control">

            </div>
        </div>


        <div class="row separar">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-10">
                <button (click)="add()" class="btn btn-primary">Agregar</button>
            </div>
        </div>



    </div>
</div>