<style>
    .separar {
        padding: 10px;
    }

    .panel-heading {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }

    .btn {
        float: right;
    }
</style>


<div class="panel panel-primary" style="width:70%; margin:auto">
    <br><br>
    <div class="panel-heading">Consulta de Grupos</div>
    <br>
    <div class="panel-body">

        <div  class="col-lg-6">
            
                <table style="text-align: center;" class="table table-bordered">
                        <thead class="thead-striped">
                            <tr>
                                <th scope="col">Asignatura</th>
                                <th scope="col">Docente</th>
                                <th scope="col">grupo</th>
    
    
                            </tr>
                        </thead>
                     
                        <tr *ngFor="let e of grupos">
              
                            <td>{{e.asignatura.nombre}}</td>
                            <td>{{e.docente.identificacion}}</td>
                            <td>{{e.numero}}</td>
    
                        </tr>
    
                    </table>


        </div>


    </div>
</div>