<style>
    .separar {
        padding: 10px;
    }

    .panel-heading {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }

    .btn {
        float: right;
    }
</style>


<div class="panel panel-primary" style="width:70%; margin:auto">
    <br><br>
    <div class="panel-heading">Plan de asignatura</div>
    <br><br>
    <div class="panel-body">

        <div class="row separar">
            <div class="col-lg-6">
                <label>Eje Tematico: </label>
                <input [(ngModel)]="ejeTematico.nombre" class="form-control" placeholder="Digite eje" type="text"
                     class="form-control">
<br><br>
                <label>Tema Docencia Directa: </label>
                <input [(ngModel)]="tema.nombre" class="form-control" placeholder="Digite tema" type="text" 
                    class="form-control">
                    <br><br>
                    <button (click)="addTema()" class="btn btn-primary">Agregar</button>

                
            </div>


       
            <div class="col-lg-6">

            
                    <table class="table table-bordered">
                            <thead class="thead-striped">
                                <tr>
                                    <th scope="col">Ejes</th>
                                    <th scope="col">Temas</th>
                                </tr>
                            </thead>
                           <tr >
                                <td [attr.rowspan]="temas.length+1">{{ejeTematico.nombre}}</td>
                           </tr>
                                   
                                    <tr *ngFor="let e of temas">    
                                    <td  >{{e.nombre}}</td>
                                    </tr>
                        </table>
                        <button (click)="addEje()" class="btn btn-primary">registrar</button>
            </div>


           
            

        </div>

    </div>
</div>