<style>
        .separar {
            padding: 30px;
        }
    
    
        .panel-heading {
            text-align: center;
            font-size: 18px;
            font-weight: bold;
        }
    </style>
    
    <div class="panel panel-primary" style="width:50%; margin:auto">
        <br><br><br>
        <div class="panel-heading">Consultar Docentes</div>
        <div class="panel-body">
    
            <br>
    
            <div class="row separar">
                    <div class="col-sm-2">
                        <label>Programa: </label>
                    </div>
                    <div class="col-sm-10">
                        <select class="form-control" (change)="mostrar()" id="referencia" name="referencia">
                            <option selected="selected">
                                Seleccione...
                            </option>
                            <option *ngFor="let p of programas" [value]="p.programaId">{{p.nombrePro}}</option>
                        </select>
                    </div>
                </div>
        
    
            
            <hr style="color: #000000" />
            <br>
    
            <table class="table">
                <thead class="thead-striped">
                    <tr>
                        <th scope="col">Programa</th>
                        <th scope="col">Identificacion</th>
                        <th scope="col">Primer Nombre</th>
                        <th scope="col">Segundo Nombre</th>
                        <th scope="col">Primer Apellido</th>
                        <th scope="col">Segundo Apellido</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Ver</th>

                    </tr>
                </thead>
                <tr *ngFor="let a of docentes">
                    <td>{{a.programa.nombrePro}}</td>
                    <td>{{a.identificacion}}</td>
                    <td>{{a.primerNombre}}</td>
                    <td>{{a.segundoNombre}}</td>
                    <td>{{a.primerApellido}}</td>
                    <td>{{a.segundoApellido}}</td>
                    <td>{{a.correo}}</td>
                    <td>{{a.telefono}}</td>
                    <td><a routerLink="/docente-edit/{{a.identificacion}}">Editar</a></td>
                </tr>
            </table>
    
    
        </div>
    </div>