<div class="panel panel-primary" style="width:50%; margin:auto">
    <div class="panel-body">

        <div *ngIf="programa">
            <br> <br>
            <div>
                <h1 class="h2">Detalle de Programa</h1>
            </div>
<br>
            <div class="form-group">
                <label style="color: rgb(0, 0, 0); font-size: 18px; font-weight: bold;">Codigo:
                    {{programa.programaId}}
                </label>
            </div>
<br><br>
            <div class="row separar">
                <div class="col-sm-2">
                    <label>Facultad:</label>
                </div>
                <div class="col-sm-8">

                    <input [(ngModel)]="programa.facultad.nombre" class="form-control" placeholder="digite titulo"
                        type="text" readonly />
                </div>
            </div>
<br>
            <div class="row separar">
                <div class="col-sm-2">
                    <label>Programa:</label>
                </div>
                <div class="col-sm-8">

                    <input [(ngModel)]="programa.nombrePro" class="form-control" placeholder="digite titulo"
                        type="text" />
                </div>
            </div>
<br>
            <div class="row separar">
                <div class="col-sm-2">
                    <label>Duracion semestral:</label>
                </div>
                <div class="col-sm-8">

                    <input [(ngModel)]="programa.duracionSementral" class="form-control" placeholder="digite titulo"
                        type="number" />
                </div>
            </div>
<br>
            <div class="row separar">
                <div class="col-sm-2">
                    <label>Horario: </label>
                </div>
                <div class="col-sm-8">
                    <input [(ngModel)]="programa.horario" class="form-control" placeholder="digite titulo"
                        type="text" />
                </div>
            </div>
<br>
            <div class="row separar">
                <div class="col-sm-2">
                    <label>Metodologia:</label>
                </div>
                <div class="col-sm-8">

                    <input [(ngModel)]="programa.metodologia" class="form-control" placeholder="digite titulo"
                        type="text" />
                </div>
            </div>

            <br><br>
            <div class="row separar">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-2">
                    <button (click)="update()" class="btn btn-success"
                        style="background: rgb(101, 141, 20)">Actualizar</button>
                </div>
            </div>
        </div>

    </div>
</div>