<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <img src="assets/img/blanco.png" style="width:210px; height: 120px">
      <br><br>
      <h5></h5>
    </div>

    <ul class="list-unstyled components" *ngIf="isAuthenticated()">
      <p>Plan de Desarrollo de Asignatura </p>
      <li class="active" *ngIf="isAuthenticatedRole('Administrador')">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="fa fa-th-list"
          aria-hidden="true">Facultad</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a [routerLink]='["/facultad-add"]'>Registrar Facultad</a>
          </li>
          <li>
            <a [routerLink]='["/facultad-lis"]'>Consultar Facultades</a>
          </li>

        </ul>
      </li>

      <li class="active" *ngIf="isAuthenticatedRole('Administrador')">
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Programa</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a [routerLink]='["/programa-add"]'>Registrar Programa</a>
          </li>
          <li>
            <a [routerLink]='["/programa-lis"]'>Consultar Programas</a>
          </li>

        </ul>
      </li>

      <li class="active" *ngIf="isAuthenticatedRole('Administrador')">
        <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Asignatura</a>
        <ul class="collapse list-unstyled" id="pageSubmenu1">
          <li>
            <a [routerLink]='["/asignatura-add"]'>Registrar Asignatura</a>
          </li>
          <li>
            <a [routerLink]='["/asignatura-lis"]'>Consultar Asignaturas</a>
          </li>

        </ul>
      </li>

      <li class="active" *ngIf="isAuthenticatedRole('Administrador')">
        <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Plan de
          Asignatura</a>
        <ul class="collapse list-unstyled" id="pageSubmenu2">
          <li>
            <a [routerLink]='["/planAsignatura-add"]'>Registrar Plan de Asignatura</a>
          </li>
          <li>
            <a [routerLink]='["/ejeTematico-lis"]'>Consulta Ejes</a>
          </li>

        </ul>
      </li>

      <li class="active" *ngIf="isAuthenticatedRole('Administrador')">
        <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Docente</a>
        <ul class="collapse list-unstyled" id="pageSubmenu3">
          <li>
            <a [routerLink]='["/docente-add"]'>Registrar Docente</a>
          </li>
          <li>
            <a [routerLink]='["/docente-lis"]'>Consultar Docentes</a>
          </li>

        </ul>
      </li>

      <li class="active" *ngIf="isAuthenticatedRole('Administrador')">
        <a href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Grupos</a>
        <ul class="collapse list-unstyled" id="pageSubmenu4">
          <li>
            <a [routerLink]='["/grupo-add"]'>Registrar Grupo</a>
          </li>
          <li>
            <a [routerLink]='["/grupo-lis"]'>Consultar Grupos</a>
          </li>

        </ul>
      </li>


      <li class="active" *ngIf="isAuthenticatedRole('Docente')">
        <a href="#pageSubmenu5" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Estudiante</a>
        <ul class="collapse list-unstyled" id="pageSubmenu5">
          <li>
            <a [routerLink]='["estudiante-carga"]'> Registrar Estudiante</a>
          </li>
          <li>
            <a [routerLink]='["estudiante-lis"]'>Consultar Estudiantes</a>
          </li>

        </ul>
      </li>
    </ul>

    <ul class="list-unstyled components" *ngIf="!isAuthenticated()">
      <p>Plan de Desarrollo de Asignatura </p>
    </ul>

  </nav>



  <!-- Page Content -->
  <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-success">
                <i class="fas fa-align-left"></i>
                <span>☰</span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto" *ngIf="isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link text-dark" (click)="logout()" title="Logout">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">USUARIO: {{ userName() }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">NOMBRE: {{ nameUser() }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ROL: {{ rolUser() }}</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav ml-auto" *ngIf="!isAuthenticated()">
                        <li class="nav-item">
                            <a class="nav-link text-dark" [routerLink]='["/logear"]'>Login</a>
                        </li>
                </ul>
            </div>
        </div>
    </nav>

<router-outlet></router-outlet>
    
</div>



</div>