<div class="panel panel-primary" style="width:70%; margin:auto">
    <div class="panel-body">
<br> <br>
        <div *ngIf="facultad">
            <div>
                <h1 class="h2">Detalle de Facultad</h1>
            </div>
            <br><br>
            <div class="form-group">
                <label style="color: rgb(0, 0, 0); font-size: 18px; font-weight: bold;"> Codigo:
                    {{facultad.facultadId}}
                </label>
            </div>
            <br>
            <div class="row separar">
                    <div class="col-sm-2">

                    <label style="font-size: 18px">Nombre: </label>
                    </div>
                    <div class="col-sm-8">

                    <input [(ngModel)]="facultad.nombre" class="form-control" placeholder="digite titulo"
                        type="text" />
                    </div>
            </div>
            <br><br>
            <div class="row separar">
                    <div class="col-sm-7">
                    </div>
                    <div class="col-sm-2">
                            <button (click)="update()" class="btn btn-success" style="background: rgb(101, 141, 20)">Actualizar</button>
                        </div>                
                </div>
        </div>

    </div>
</div>